@import 'variables.scss';
.image-banner {
  height: 630px;
  width: 100%;
  align-items: center;
  .title {
    font-size: $x-large-header-text;
    margin-bottom: 0;
    color: #fff;
    font-weight: 900;
    @include media-breakpoint-down(md) {
      font-size: $x-large-header-text-md;
    }
  }
  .subtitle {
    font-size: $small-header-text;
    margin-bottom: 30px;
    color: #fff;
    @include media-breakpoint-down(md) {
      font-size: $small-header-text-md;
    }
  }
  .price {
    color: $secondary-brand-color;
  }
}
