@import 'variables.scss';
.block.subscriptions {
  margin-top: 70px;
  width: 100%;
  padding: 20px;
  margin-bottom: 80px;
  @include media-breakpoint-down(md) {
    padding: 35px;
    margin-bottom: 0;
  }
  .ant-tabs {
    color: $primary-brand-color;
  }
  .page-title,
  .page-subtitle {
    margin-bottom: 0;
  }
  .select-package-text {
    font-size: 20px;
    color: #ff535f;
    @include media-breakpoint-down(md) {
      font-size: 15px;
    }
  }
  .payment-frequency {
    display: inline-block;
  }
  .tabs {
    margin-top: 20px;
  }
  .tax {
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
  }

  .toggle {
    display: flex;
    justify-content: center;
    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 25px;
      margin: 0 10px;
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2196f3;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        &:before {
          position: absolute;
          content: '';
          height: 15px;
          width: 15px;
          left: 5px;
          bottom: 5px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
        &.round {
          border-radius: 34px;
          &:before {
            border-radius: 50%;
          }
        }
      }
      input:checked + .slider {
        background-color: #ccc;
      }
      input:focus + .slider {
        box-shadow: 0 0 1px #ccc;
      }
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
  }
}
