@import 'variables.scss';
.share-page {
  width: 100%;
  .share-page-content-title {
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      margin: 40px 0;
    }
  }
  .block {
    padding-top: 0;
    .tertiary-background {
      margin-top: 60px !important;
      padding: 120px 0;
    }
  }
  .page-subtitle {
    font-weight: bold;
    line-height: 32px;
  }
  .section-text {
    margin-top: 80px;
  }
  .how-to {
    .image {
      margin: 60px 0;
    }
  }
  @include media-breakpoint-up(lg) {
    .about-info-block {
      display: flex;
    }
  }
}
