@import 'variables.scss';

.reduce-page {
  &.block {
    padding-top: 0;
  }
  .reduce-page-content-title {
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      margin: 40px 0;
    }
  }
  .section-title {
    line-height: 48px;
  }
  .intro-list ul {
    list-style-type: none;
  }
}
